name: Publish image to ECR

on:
  workflow_call:
    inputs:
      java_version:
        required: false
        type: string
        default: 21
      java_distribution:
        required: false
        type: string
        default: temurin
      image_version:
        required: true
        type: string
      jar_subproject:
        required: false
        type: string
      image_scan:
        required: false
        type: string
        default: true
      image_scan_severity:
        required: false
        type: string
        default: 'UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL'
      image_scan_skip_db_update:
        required: false
        type: string
        default: false
      image_scan_skip_java_db_update:
        required: false
        type: string
        default: false
      publish:
        required: false
        type: string
        default: true
    secrets:
      gh_token:
        required: true
      ecr_region:
        required: true
      ecr_repository:
        required: true
      ecr_role_to_assume:
        required: true
      ecr_registry:
        required: false
      root_certificate:
        required: false
      binding_directory:
        required: false
    outputs:
      published_image_version:
        description: "The version of the published image."
        value: ${{ jobs.ecr-publish-image.outputs.published_image_version }}

permissions:
  contents: read
  id-token: write

jobs:
  ecr-publish-image:
    runs-on: ubuntu-latest

    env:
      GITHUB_TOKEN: ${{ secrets.gh_token }}
      ECR_REGISTRY: ${{ secrets.ecr_registry }}
      ROOT_CERTIFICATE: ${{ secrets.root_certificate }}

    outputs:
      published_image_version: ${{ steps.publish-image.outputs.published_image_version }}

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK ${{ inputs.java_version }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ inputs.java_version }}
          distribution: ${{ inputs.java_distribution }}

      - name: Configure aws credentials
        if: ${{ inputs.publish == 'true' }}
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{ secrets.ecr_role_to_assume }}
          aws-region: ${{ secrets.ecr_region }}

      - name: Login ecr
        if: ${{ inputs.publish == 'true' && env.ECR_REGISTRY == '' }}
        uses: aws-actions/amazon-ecr-login@v2
        id: login-ecr

      - name: Login ecr in different registry
        if: ${{ inputs.publish == 'true' && env.ECR_REGISTRY != '' }}
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registries: ${{ secrets.ecr_registry }}
        id: login-another-ecr

      - name: Configure certificate binding
        if: ${{ env.ROOT_CERTIFICATE != '' }}
        run: |
          if [ -z "${{ secrets.binding_directory }}" ]; then
            echo "A binding directory is required."
            exit 1
          fi
          mkdir -p ${{ secrets.binding_directory }}
          echo "${{ secrets.root_certificate }}" > ${{ secrets.binding_directory }}/root_cert.pem
          echo "ca-certificates" > ${{ secrets.binding_directory }}/type
          echo "created certificate binding"
          tree ${{ secrets.binding_directory }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build image
        id: build-image
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry || steps.login-another-ecr.outputs.registry }}
          REPOSITORY: ${{ secrets.ecr_repository }}
        run: |
          gradle_subproject=''
          if [ "${{ inputs.publish }}" != "true" ]; then
            # Set placeholder values when not publishing
            REGISTRY=registry
            REPOSITORY=repository
          fi
          if [[ -n "${{ inputs.jar_subproject }}" ]]; then
            gradle_subproject=":${{ inputs.jar_subproject }}:"
          fi
          image_name=${REGISTRY}/${REPOSITORY}:${{ inputs.image_version }}
          ./gradlew ${gradle_subproject}bootBuildImage \
            --imageName $image_name
          echo "image_name=$image_name" >> $GITHUB_OUTPUT
          echo "Image built with version: $image_name"

      - name: Scan image
        if: ${{ inputs.image_scan == 'true' }}
        uses: aquasecurity/trivy-action@0.34.0
        with:
          image-ref: ${{ steps.build-image.outputs.image_name }}
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: ${{ inputs.image_scan_severity }}
        env:
          TRIVY_SKIP_DB_UPDATE: ${{ inputs.image_scan_skip_db_update }}
          TRIVY_SKIP_JAVA_DB_UPDATE: ${{ inputs.image_scan_skip_java_db_update }}

      - name: Publish image
        if: ${{ inputs.publish == 'true' }}
        id: publish-image
        run: |
          docker push ${{ steps.build-image.outputs.image_name }}
          echo "published_image_version=${{ inputs.image_version }}" >> $GITHUB_OUTPUT
          echo "Image published to ECR with version: \`${{ inputs.image_version }}\`" >> $GITHUB_STEP_SUMMARY
          echo "Published image version: ${{ inputs.image_version }}"
